[class^="uiIconCustomer"], .btn.disabled:hover  [class^="uiIconCustomer"] {
  background-image: url('/customer-extension/img/uiIconCustomerDarkGray.png');
}

.nav-pills > .active > a > [class^="uiIconCustomer"],
.nav-list > .active > a > [class^="uiIconCustomer"],
.navbar-inverse .nav > .active > a > [class^="uiIconCustomer"],
.btn:hover [class^="uiIconCustomer"], a:hover [class^="uiIconCustomer"],
.actionIcon.active [class^="uiIconCustomer"],.nodeSelected:hover [class^="uiIconCustomer"],
[class^="uiIconCustomer"]:hover, .uiActionBar [class^="uiIconCustomer"]:hover, .uiIconCustomerBlue
 {
  background-image: url('../img/uiIconCustomerBlue.png');
}

.uiIconCustomerLightGray {
  background-image: url('/customer-extension/img/uiIconCustomerLightGray.png');
}

.uiIconCustomerWhite
 {
  background-image: url('/customer-extension/img/uiIconCustomerWhite.png');
}

.uiIconCustomerVideoCalls {
  background-position: 0px 0px;
}

.uiCustomerPortlet .PemissionInputset{
	margin-right:4px;
}

button.close{
	background-image: url("/eXoResources/skin/images/Icons/uiIconsLightGray.png");
	background-position: -160px -100px;
}

.customer-alert{
	 position: absolute; 
	 top: 32px; 
	 width: 100%; 
	 text-align:center; 
	 border: none; 
	 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	 font-size: 14px;
	 opacity: 0.9;
	 padding: 8px 0;
	 border-radius: 0px;
}

.uiCustomerPortlet{
	padding: 32px;
}

.uiCustomerPortlet h3{
	text-align: left;
    text-shadow: 0 3px 4px #fff;
    margin:-7px 0 0px; 
	color: #2F5E92;
}

.uiCustomerPortlet h4{
    margin:14px 0; 
}

.uiCustomerPortlet .row .span5 p{
    padding: 6px 0 0 0;
}

.uiCustomerPortlet .control-group .uiCheckbox{
	margin: 0px;
}

.uiCustomerPortlet .CustomerKey .control-label{
	text-align: left;
    width: auto;
	text-align: right;
}
.uiCustomerPortlet .control-group.CustomerKey{
	margin-bottom: 8px;
}

.uiCustomerPortlet .CustomerKey .controls{
	margin-left: 85px;
}

.uiCustomerPortlet .CustomerKey .controls{
	margin-left: 85px;
}



.uiCustomerIconWarning {
    background: url("/eXoResources/skin/images/Icons/uiIconColor.png") no-repeat scroll -20px top rgba(0, 0, 0, 0);
    width: 16px;
	vertical-align: text-top;
	height: 16px;
	display: inline-block;
}

.modal {   
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    margin-left: auto;
    min-width: 560px;
    margin-top: 0px;
}

.connectAction .btn{
	margin-top: 5px;
}

.confirmationCustomerIcon {
  	background: url(/eXoResources/skin/images/PopupMessage/icons.png) no-repeat;
	padding-left: 20px;
	line-height: 16px;
	height: 16px;
	color: #333333;


	background-position: left -50px;
	font-weight: normal;
	display: block;
	margin: 10px 10px 20px;
}


.btn.disabled{
	font-weight: normal;
}

